Screen {
    align: center middle;
}

#menu_container {
    width: 1fr;
    height: 100%;
    min-width: 40;
    max-width: 80;
    align: center middle;
}

#menu_title {
    width: 100%;
    height: auto;
    min-height: 8;
}

#menu_title Static {
    text-align: center;
    color: cornflowerblue;
}

#menu_options {
    width: 100%;
    height: auto;
    content-align: center middle;
    border: hkey $accent
}

#menu_options Static {
    text-align: center;
    min-width: 30;
}
