Screen{
  background: black;
}

#tasks_container {
  layout: vertical;
  align: center middle;
  width: 60%;
  height: auto;
  border: round darkslategray;
}

#title{
  padding: 1;
  text-align: center;
  color: $accent;

}
#table{
  border: hkey cadetblue;
  background: black;
}
